@import "reset.scss";
@import "fonts.scss";

$white: #F3F0FF;
$white2: #DEDEDE;
$black: #000000;
$black2: #0A0A0A;
$light: #e9e8e8;
$gray: #262626;
$gray2: #262937;
$accent: #4B56D5;
$bg: #111117;

$thin: 200;
$normal: 400;
$medium: 500;
$bold: 700;
$extra: 900;

$descr: 12px;
$para: 14px;
$head: 25px;
$head2: 20px;
$head4: 16px;

$font: 'Roboto Flex';

$scroll: 5px;

$inputw: 120px;
$inputh: 30px;
$arrow: 15px;
$box: 20px;

$border: 1px;
$radius: 3px;

$padding: 10px;
$padding2: 5px;
$margin: 15px;
$margin2: 5px;

body {
  color: $white;
  font-family: $font;
  font-size: $para;
  font-weight: $normal;
  background-color: $bg;
}

h1 {
  font-size: $head;
  font-weight: $extra;
}

h2 {
  font-size: $head2;
  font-weight: $bold;
}

h4 {
  font-size: $head4;
  font-weight: $bold;
}

mark {
  color: $accent;

  &[disabled] {
    color: $white;
  }
}

@import "scroll.scss";
@import "form.scss";
