input {
  width: $inputw;
  height: $inputh;
  padding: $padding;
  color: $white;
  font-size: $para;
  font-weight: $normal;
  background: $gray2;
  border: $border solid transparent;
  border-radius: $radius;
  transition: border 200ms ease;
  user-select: auto;

  &:hover, &:focus {
    border: $border solid $accent;
  }
}

button {
  width: $inputw;
  height: $inputh;
  color: $white;
  font-size: $para;
  font-weight: $medium;
  background: $accent;
  border-top: 0.5px solid rgba($white, 25%);
  border-radius: $radius;
  transition: transform 200ms ease;
  transform-origin: center;
  text-shadow: 0 1px 2px rgba($black, 0.7);
  box-shadow: 0 1px 10px rgba($accent, 0.2);

  &:hover {
    transform: scale(1.05);
  }

  &:active {
    transform: translateY(2px);
  }

  &[disabled] {
    pointer-events: none;
    opacity: 0.7;
    cursor: default;
  }
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: $padding;
  margin-bottom: $margin;
  font-size: $para;
  font-weight: $normal;
  background: $black2;
  border: $border solid $gray;
  border-radius: $radius;

  &:last-child {
    margin-bottom: 0;
  }

  & > .title {
    margin-bottom: $margin;
  }

  button[type="submit"] {
    margin-top: $margin;
  }
}

.field {
  display: flex;
  width: 100%;
  height: $inputh;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $margin2;
  padding-left: $padding;
  border-radius: $radius;
  color: $white;
  font-size: $para;
  font-weight: $normal;
  user-select: none;

  &:last-child {
    margin-bottom: 0;
  }

  & > label.name {
    width: 100%;
    z-index: 9;
  }
  
  & > .container {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  &.text {
    input[type="text"] {
      width: $inputw;
    }
  }

  &.number {
    input[type="number"] {
      width: calc($inputw - $arrow);
      height: 100%;
      padding: $padding;
      text-align: right;
      background: none;
      border: $border solid $gray2;
      border-radius: $radius 0px 0px $radius;
    }
    
    .buttons {
      display: flex;
      flex-direction: column;
      width: auto;
      height: 100%;

      button {
        display: block;
        width: $arrow;
        height: 50%;
        background-color: $gray2;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 0;
        text-shadow: none;
        box-shadow: none;

        &[name="plus"] {
          background-image: url("../../imgs/arrow-up.svg");
          border-radius: 0px $radius 0px 0px;
        }
        &[name="minus"] {
          background-image: url("../../imgs/arrow-down.svg");
          border-radius: 0px 0px $radius 0px;
        }
      }
    }
  }

  &.range {
    position: relative;
    border: $border solid $gray2;
    --percent: 0%;

    &::after {
      content: "";
      display: block;
      width: var(--percent);
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: $accent;
      border-radius: calc($radius - 1px);
      z-index: 8;
    }

    input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 0px;
      border-radius: 0;
      border: none;
    }
    input[type="range"]::-moz-range-track {
      background: transparent;
      border: none;
    }
    input[type="range"]::-moz-range-thumb {
      width: 0px;
      border-radius: 0;
      border: none;
    }
    input[type="range"] {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 0;
      background: transparent;
      border: none;
      opacity: 0.2;
      z-index: 10;
    }

    .field.number {
      width: $inputw;
      z-index: 11;

      input[type="number"] {
        width: 100%;
        text-align: right;
        background: none;
        border: 0;
      }
    }
  }

  &.select {
    .selector {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      width: calc($inputw - $arrow);
      height: 100%;
      border: $border solid $gray2;
      border-radius: $radius 0 0 $radius;
      cursor: pointer;

      .selected {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: $padding;
      }

      .items {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: $black2;
        border: $border solid $gray2;
        border-radius: $radius;
        z-index: 12;

        .item {
          width: 100%;
          height: $inputh;
          justify-content: flex-start;
          align-items: center;
          padding: $padding;

          &.active {
            opacity: 0.5;
          }
        }
      }
    }

    button[name="visible"] {
      display: block;
      width: $arrow;
      height: 100%;
      background-color: $gray2;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 0;
      text-shadow: none;
      box-shadow: none;
      border-radius: 0px $radius $radius 0px;
      background-image: url("../../imgs/arrow-down.svg");
    }
  }

  &.check {
    input[type="checkbox"] {
      display: none;

      &:checked ~ label::after {
        display: block;
      }
    }
    
    input[type="checkbox"] ~ label {
      position: relative;
      width: $checkbox;
      height: $checkbox;
      border: $border solid $gray2;
      border-radius: $radius;

      &::after {
        content: "";
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: calc($checkbox - 6px);
        height: calc($checkbox - 6px);
        margin: 2px;
        background: $accent;
        border-radius: calc($radius - 1px);
      }
    }
  }

  &.switch {
    display: inline-flex;
    
    input[type="checkbox"] {
      display: none;

      &:checked ~ label::after {
        left: auto;
        right: 0;
        background: $accent;
      }
    }
    
    input[type="checkbox"] ~ label {
      display: block;
      position: relative;
      width: $checkbox * 1.7;
      height: $checkbox;
      border: $border solid $gray2;
      border-radius: $radius;

      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: calc($checkbox - 6px);
        height: calc($checkbox - 6px);
        margin: 2px;
        background: $gray2;
        border-radius: calc($radius - 1px);
        transition: 200ms ease;
      }
    }
  }

  input {
    user-select: auto;
  }
}
